.header {
  display: grid;
  grid-template-areas: "header header .";
  grid-template-columns: auto minmax(320px, 1200px) auto;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 25px 50px;
  gap: 50px;
  z-index: 3;
  position: relative;
}

@media (max-width: 765px) {
  .header {
    padding: 10px 32px;
    gap: 0;
    grid-template-columns: 1fr;
  }
}
