.form {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  gap: 20px;
  background: var(--white);
  border-radius: 15px;
  padding: 50px;
}

@media (max-width: 765px) {
  .form {
    padding: 32px;
  }
}

@media (max-width: 1024px) {
  .form {
    flex: 1;
  }
}
