.grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "status" "list";
  min-height: calc(100vh - 266px);
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
