.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  grid-template-areas:
    ". header header ."
    ". sidebar body .";
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
  padding: 50px;
}

.sidebar {
  grid-area: sidebar;
  padding: 50px 0;
}

.footer {
  grid-area: footer;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "body";
  }

  .sidebar {
    display: none;
  }
}
