.wrapper {
  display: grid;
  grid-template-columns: 0 auto minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr;

  min-height: 100vh;
  grid-template-areas:
    "header header header header"
    ". sidebar body .";
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
  padding: 50px;
}

.sidebar {
  background: var(--white);
  grid-area: sidebar;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
}

.footer {
  grid-area: footer;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "body";
  }

  .sidebar {
    display: none;
  }
}
