.button {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
}

.danger {
  background: var(--primary-bg);
  color: var(--primary);
}

.success {
  background: var(--secondary-bg);
  color: var(--secondary);
}

.red {
  background: var(--primary);
  color: var(--white);
}
