.header {
  display: flex;
  padding: 25px 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  color: var(--primary);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 3.6px;
}
