.p {
  font-weight: 400;
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.primary {
  color: var(--primary);
}

.s {
  font-size: 16px;
  line-height: 16px;
}

.m {
  font-size: 20px;
  line-height: 20px;
}
