.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.dropdown li p {
  text-wrap: nowrap;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
