.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1fr);

  min-height: 100vh;
  grid-template-areas: "sidebar body";
}

.body {
  grid-area: body;
}

.sidebar {
  grid-area: sidebar;
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-areas: "sidebar" "body";
    grid-template-columns: 1fr;
  }
}
